<div class="tile box-3">

  <div class="t-header th-alt">
    <div class="th-title text-center dark-font">
      Quantidade de Processos por Fase
    </div>
  </div>
  <div class="t-body tb-padding">
    <div class="counters-bpmn counters-bpmn-1">
      <div class="numberCircle bg-green"><%= rand(100) %></div>
      <div class="numberCircle bg-deeporange"><%= rand(100) %></div>
      <div class="numberCircle bg-red"><%= rand(100) %></div>
    </div>

    <div class="counters-bpmn counters-bpmn-2">
      <div class="numberCircle bg-green"><%= rand(100) %></div>
      <div class="numberCircle bg-deeporange"><%= rand(100) %></div>
      <div class="numberCircle bg-red"><%= rand(100) %></div>
    </div>

    <div class="counters-bpmn counters-bpmn-3">
      <div class="numberCircle bg-green"><%= rand(100) %></div>
      <div class="numberCircle bg-deeporange"><%= rand(100) %></div>
      <div class="numberCircle bg-red"><%= rand(100) %></div>
    </div>

    <!-- <a href="#" class="link-bpmn">teste</a> -->

    <div class="row text-center">
      <%= image_tag "tempo_justica.png", usemap: "#Map"%>
    </div>
  </div>

  <map name="Map" id="Map">
    <area alt="" title="" href="/main/phase_3" target="_blank" shape="poly" coords="761,143,761,201,918,202,916,143" />
  </map>
</div>
