<div class="cb-item bg-<%= color %> rounded-border animated zoomIn">
  <%= fa_icon('clock-o', class:"clock-icon-jt") %>
  <h1 class="qty"><%= rand_number %> <%= rand_ptg %></h1>
  <div class="">
    <b class="light-font"><%= label_01 %></b>
  </div>
  <small class="light-font"><%= label_02 %></small>
</div>
