<div class="tile box-2">
  <div class="t-header th-alt">
    <div class="th-title text-center dark-font">
      <%= fa_icon("gavel") %>
      Quantidade de Processos por Vara do Juri
      <%= fa_icon("gavel") %>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-1">
          <%= render partial: "main/partials/court_description", locals: { court: 1, value: rand(100), ptg: rand(100) } %>
        </div>

        <div class="col-md-2">
          <%= render partial: "main/partials/court_description", locals: { court: 2, value: rand(100), ptg: rand(100) } %>
        </div>

        <div class="col-md-2">
          <%= render partial: "main/partials/court_description", locals: { court: 3, value: rand(100), ptg: rand(100) } %>
        </div>

        <div class="col-md-2">
          <%= render partial: "main/partials/court_description", locals: { court: 4, value: rand(100), ptg: rand(100) } %>
        </div>

        <div class="col-md-2">
          <%= render partial: "main/partials/court_description", locals: { court: 5, value: rand(100), ptg: rand(100) } %>
        </div>
    </div>
  </div>
</div>
