<div class="tile">
  <div class="tile-body box-1">
    <div class="count-box">
      <div class="row text-center">
        <div class="col-md-3 animated zoomIn">
          <div class="cb-item total-procedures cardboard">
            <h1>
              <span class="value-card dark-font">
                <%= fa_icon("file") %>
                <%= rand_number %> <%= rand_ptg %>
              </span>
            </h1>
            <b class="label-card dark-font">Processos de Homicídios Monitorados</b>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <%= render partial: "main/partials/cardboard", locals: { label: 'Processos menor ou igual a 05 meses' } %>
            </div>

            <div class="col-sm-6">
              <%= render partial: "main/partials/cardboard", locals: { label: 'Processos maior que 05 meses e menor ou igual a 10 meses' } %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <%= render partial: "main/partials/colored_cardboard", locals: { color: "green",
                                                                               label_01: "Processos no Tempo de Justiça",
                                                                               label_02: "Em até 75% do Tempo de Justiça" } %>
            </div>

            <div class="col-sm-4">
              <%= render partial: "main/partials/colored_cardboard", locals: { color: "orange",
                                                                               label_01: "Processos a vencer o Tempo de Justiça",
                                                                               label_02: "Processos a vencer o Tempo de Justiça" } %>
            </div>

            <div class="col-sm-4">
              <%= render partial: "main/partials/colored_cardboard", locals: { color: "red",
                                                                               label_01: "Processos que excederam o Tempo de Justiça",
                                                                               label_02: "Acima de 100% do Tempo de Justiça" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
